.highlight {
  margin-left: auto;
  margin-right: auto;
}

.rouge-code {
  padding-left: 0;
}

.rouge-gutter.gl{
  color: #d0d0d0;
  max-width: 1rem;
  padding-left: 0.5rem;
  padding-right: 0;
  .lineno{
    padding: 0.2rem;
  }
}
code {
  background: $black-swan;
  color: #d0d0d0;
  padding: 0.2rem;
  font-family: monospace;
}

pre {
  background: none;
  border: none;
  margin: 1rem 0;
  @include med-and-up {
    padding-left: 2rem;
  }
  code {
    font-family: monospace;
    overflow-x: scroll;
    border-radius: 0.35rem;
    background-color: $black-swan;
    padding: 0;
    font-size: 1.45rem;
    table.rouge-table {
      margin-bottom: 0;
      td {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
}
