#elm-search-container ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  border-left: 0.1rem solid #d1d1d1;
  border-right: 0.1rem solid #d1d1d1;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
#elm-search-container li {
  padding: 0.5rem;
  list-style: none;
  &:hover {
    background-color: $purple;
  }
  a {
    padding-left: 0.75rem;
    color: $black-swan;
    &:hover {
      color: white;
    }
  }
}
#elm-search-container li:last-child  {
  border-bottom: 0.1rem solid #d1d1d1;
}

#elm-search-container {
  input { margin-bottom: 0; }
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
