@charset "utf-8";
@import "milligram";
@import "normalize";
@import "variables";
@import "native";
@import "media_queries";
@import "flex";
@import "modifiers";
@import "cards";
@import "search";
@import "highlighting";
@import "nav";
@import "tags";

body {
  background: $black-swan;
  text-align: center;
  font-family: "Helvetica", "Helvetica Neue", "Lato", "Arial", "sans-serif";
  font-weight: 325;
  font-size: 1em;
  color: $smoke;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 0.9; }
}
@keyframes fadeout {
  from { opacity: 0.9; }
  to   { opacity: 0; }
}

hr {
  border-top: 0.1rem solid #a155d2;
}

.triangle-canvas {
  z-index: -1;
  height: 20vh;
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  transform: skewY(-4deg) translateY(-10rem);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
