@charset "utf-8";
@import "normalize";
@import "media_queries";
@import "flex";
@import "variables";
@import "modifiers";
@import "cards";
@import "prism";
@import "search";

body {
  background: $black-swan;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: $smoke;
}

.triangle-canvas {
  z-index: -1;
  height: 20vh;
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  transform: skewY(-4deg) translateY(-10rem);
  -webkit-backface-visibility: hidden;
}
