@charset "utf-8";
@import "normalize";
@import "variables";
@import "native";
@import "media_queries";
@import "flex";
@import "modifiers";
@import "cards";
@import "search";
@import "highlighting";
@import "nav";

body {
  background: $black-swan;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: $smoke;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}
@keyframes fadeout {
    from { opacity: 0.9; }
    to   { opacity: 0; }
}

//.back-button {
//  font-size: 4rem;
//  a {
//    color: white;
//  }
//  a:hover{
//    color: $wine;
//  }
//  .tool-tip {
//    display: block;
//    font-size: 1.2rem;
//    background: rgba(114,114,114,0.95);
//    border-radius: 5px;
//    color: #fff;
//    line-height: 14px;
//    max-width: 170px;
//    padding: 5px 8px;
//    position: absolute;
//    z-index: 100;
//    text-align: center;
//    animation: fadeout 0.4s;
//    opacity: 0;
//  }

//}
//.back-button:hover {
//  .tool-tip {
//    opacity: 0.9;
//    animation: fadein 0.4s;
//  }
//}

hr {
  border-top: 0.1rem solid #a155d2;
}

.triangle-canvas {
  z-index: -1;
  height: 20vh;
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  transform: skewY(-4deg) translateY(-10rem);
  -webkit-backface-visibility: hidden;
}
