<% wrap_layout :layout do %>
  <article>
    <section class="content">
      <div class="row">
        <div class="card z-4 fill-screen">
          <div class="card_title">
            <h1>
              <%= current_page.data.title %>
            </h1>
          </div>
          <div class="blog-body">
            <%= yield %>
            <hr>
            <div class="article-social">
              <p>If you enjoyed this post, follow me on twitter
                <a href="https://twitter.com/ChaseGilliam">@ChaseGilliam</a>,
                sometimes I'm funny. You can also find me on
                <a href="https://github.com/Ch4s3">Github</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
<% end %>
