<div class="drop-down-nav">
  <button class="drop-down-button">
    <svg height="3.5rem" width="3.5rem">
      <g class="icon">
        <circle cx="15" cy="8" r="3"></circle>
        <circle cx="15" cy="16" r="3"></circle>
        <circle cx="15" cy="24" r="3"></circle>
      </g>
    </svg>
  </button>
  <ul class="drop-down z-3">
    <li><a class="nav-link" href="/">home</a></li>
    <li><a class="nav-link" href="/about.html">about me</a></li>
    <li><a class="nav-link" href="/tags.html">topics</a></li>
    <!-- <li><a class="nav-link" href="/posts.html">all posts</a></li> -->
  </ul>
</div>
