---
title: about
---
<div class="row main-box-row">
  <div class="card z-4 mid">
    <div class="card_title">
      <h1>about me</h1>
    </div>
    <div class="card-body">
      <div class="text-block">
        <p>
          Right now I'm focused on building great health care applications
          that connect patients and providers with better information and cut
          down on workflow issues that take time away from quality care. As
          Director of Engineering at Avhana Health, I oversee and work on a
          variety of products and technologies. At the moment I am really excited
          about Elixir and Phoenix.
        </p>
        <p>
          When I'm not busy wrangling unruly health data, I try to spend
          some time away from my laptop. I can often be found at
          Brooklyn Boulders, out biking around NYC, or stuffing a pile
          of dumplings into my face with friends and loved ones. The rest of
          the time, I'm likely reading and hacking on some side projects or
          ridiculous scripts that do useless things like deliver the weather to
          my command line.
        </p>
        <p>
          This blog is mostly about the side projects and goofy sripts. Right
          now I'm pretty focused on Elixir and some other functional languages
          like OCaml, but I really like Ruby so that will probably pop up a
          lot. I'll also be using the blog to test out ideas for talks, so
          if you caught my talk on Elm and Developer Tooling at BrooklynJS
          <i>(I built this site's
            <a href="https://github.com/Ch4s3/-pursu.es/blob/master/source/elm/Search.elm">
              search box
            </a> for the talk)
          </i>, 
          then expect similarly eccentric prose and pontification here.
        </p>
      </div>
    </div>
  </div>
</div>
