<div class="drop-down-nav">
  <button class="drop-down-button">
    <svg height="3.5rem" width="3.5rem" viewbox="0 0 30 30">
      <g class="icon">
        <circle cx="15" cy="8" r="2"></circle>
        <circle cx="15" cy="14" r="2"></circle>
        <circle cx="15" cy="20" r="2"></circle>
      </g>
    </svg>
  </button>
  <ul class="drop-down z-3">
    <li><a class="nav-link" href="/">home</a></li>
    <li><a class="nav-link" href="/about">about me</a></li>
    <li><a class="nav-link" href="/tags">topics</a></li>
    <li><a class="nav-link" href="/posts">all posts</a></li>
  </ul>
</div>
