<div class="drop-down-nav">
  <button class="drop-down-button">
    <svg height="3.5rem" width="3.5rem" viewbox="0 0 30 30">
      <g class="icon">
        <circle cx="15" cy="8" r="2"></circle>
        <circle cx="15" cy="14" r="2"></circle>
        <circle cx="15" cy="20" r="2"></circle>
      </g>
    </svg>
    <ul class="drop-down">
      <li>panda</li>
      <li>poonda</li>
      <li>yenda</li>
    </ul>
  </button>
</div>
