---
title: The blog of Chase Gilliam
---
<div class="row">
  <div class="card z-4 mid">
    <div class="card_title">
      <h1>Chase Pursues</h1>
    </div>
    <div class="card-body">
      <div id="elm-search-container"></div>
      <p class="blog-intro shift_down">This is a blog about whatever I happen to be into or doing at the moment.
        That probably means a lot of code, photography, climbing, and some random
        odds and ends.
      </p>
      <% blog.articles[0...5].each do |article| %>
        <div class="blog-links"><%= link_to article.title, article %> <%= article.date.strftime('%b %e') %></div>
      <% end %>
    </div>
  </div>
</div>
