---
title: The blog of Chase Gilliam
---
<div class="row">
  <div class="card z-4 mid forty_vh shift_up">
    <div class="card_title">
      <h1>Chase Pursues</h1>
    </div>
    <div class="card-body">
      <div id="elm-search-container"></div>
      <p class="blog-intro">This is a blog about whatever I happen to be into or doing at the moment.
        That probably means a lot of code, photography, climbing, and some random
        odds and ends.
      </p>
      <div class="blog-links"><%= link_to blog.articles.first.title, blog.articles.first %> <%= blog.articles.first.date.strftime('%b %e') %></div>
    </div>
  </div>
</div>
